body {
    background: url("/static/bg-3.jpg");
    background-size: cover;
    text-shadow: 0 0 25px white;
}

/* LOGO */

.logo {
  background-image: url("/static/logo.png");
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: -6px 25px;
  width: 100%;
  height: 120px;
  display: block;
 }

/* CONTAINERS */

.outer_container {
    background: linear-gradient(221deg, rgba(123,250,255,0.6), rgba(75,122,255,0.6),  rgba(216,0,255,0.6), rgba(255,200,0,0.6));
    /*background-size: 600% 600%;*/
    transform: translateZ(0);
    -webkit-animation: filter-animation 30s ease infinite;
    -moz-animation: filter-animation 30s ease infinite;
    -o-animation: filter-animation 30s ease infinite;
    animation: filter-animation 30s ease infinite;
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    padding-bottom: 100px;
}



/*
@-webkit-keyframes filter-animation {
    0%{background-position: 0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-moz-keyframes filter-animation {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-o-keyframes filter-animation {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}*/
@keyframes filter-animation {
    0% { transform: translate(0,0); };
    50% { transform: translate(82%,0); };
    100% { transform: translate(0,0); };
}

p {
    padding-bottom: 5pt;
}

.container {
    transition: all 0.5 ease;
}

/* ARTWORK-RIGHT */

.artwork {
  background-repeat: no-repeat;
  opacity: 0.4;
  -webkit-filter: blur(0.2px);
  filter: blur(0.2px);
  height: 100%;
}

@media only screen and (min-width: 900px) {
  .artwork {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.art-8 {
  background-image: url("/static/artwork/svg/art4.svg");
  //background-position: 65% 50px;
  //background-size: 120%;
  background-position: 30% -30px;
  background-size: 150%;
}

.art-1 {
  background-image: url("/static/artwork/svg/art3.svg");
  background-position: 35% 40px;
  background-size: 120%;
}

.art-2 {
  background-image: url("/static/artwork/svg/art2.svg");
  background-position: 65% -80px;
    background-size: 140%;
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.art-3 {
  background-image: url("/static/artwork/svg/art1.svg");
  background-position: 55% -80px;
    background-size: 150%;
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.art-4 {
	background-image: url("/static/artwork/svg/art7.svg");
	background-position: 65% -200px;
    background-size: 220%;
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.art-5 {
    background-image: url("/static/artwork/svg/art5.svg");
    background-position: 35% 40px;
    background-size: 120%;
}
.art-6 {
    background-image: url("/static/artwork/svg/art6.svg");
    background-position: 35% 40px;
    background-size: 120%;
}
.art-7 {
    background-image: url("/static/artwork/svg/art8.svg");
    background-position: 35% 40px;
    background-size: 120%;
}



/* TEXT */


h1 {
  font-family: 'Cabin', sans-serif;
  margin: 0 !important; 
  font-weight: bolder;
  line-height: 35px;
  font-size: 30px;
  padding-bottom: 10px;
  color: black;
}
h2 {
  font-family: 'Cabin', sans-serif;
  margin: 0 !important; 
  font-weight: thin;
  line-height: 35px;
  font-size: 25px;
  padding-bottom: 10px;
  color: black;
}

.lead {
    font-weight: normal;
}
p {
  font-family: 'Cabin', sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: black;
  margin: 0px;
  font-weight: normal;
}

label {
  font-family: 'Cabin', sans-serif; 
  line-height: 22px;
  font-weight: 300;
  color: black;
}

a {
    font-family: 'Cabin', sans-serif!important;
    color: black!important;
    text-decoration: underline!important;
    font-size: 16px!important;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

a:hover { 
    color: white!important;
    color: white;
    -webkit-transition: all 0ms ease;
    -moz-transition: all 0ms ease;
    -ms-transition: all 0ms ease;
    -o-transition: all 0ms ease;
    transition: all 0ms ease;
}

/* STRUCTURE */
/*
.col-6 {
  background: rgba(255,255,255,0.4);
  height: 100%;
}
*/
@media only screen and (max-width: 900px) {
    .artwork {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.q {
  width: 100%;
  padding-top: 5px;
  float: left;
}

.text-left {
  width: 70%;
  float: left; 
}


/* FORM */
textarea, select, input, button { outline: none; }

input {
    float: left;
    padding: 10px;
    margin: 2px 0;
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    background: transparent;
    font-family: 'Cabin', sans-serif;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

input:focus { 
    border-color: white;
    color: white;
}

input:hover { 
    border-color: white;
    color: white;
    -webkit-transition: all 0ms ease;
    -moz-transition: all 0ms ease;
    -ms-transition: all 0ms ease;
    -o-transition: all 0ms ease;
    transition: all 0ms ease;
}

/* FORM - TEXTAREA */
input[type=text] {
  width: 100%;
  border-width: 0px 0px 2px 0px;
}
/* FORM - DATE */
input[type=date] {
  width: 200px;
  float: right;
  cursor: text;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* FORM - CHECKBOX */

.checkboxhack input {
  display: none; /* hide the default checkbox */
}

/* style the artificial checkbox */
.checkboxhack span {
  height: 25px;
  width: 25px;
  border: 2px solid black;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  -webkit-transition: all 900ms ease;
  -moz-transition: all 900ms ease;
  -ms-transition: all 900ms ease;
  -o-transition: all 900ms ease;
  transition: all 900ms ease;

}

.checkboxhack span:hover {
  border-color: white;
  color: white;
  text-decoration: none!important;
  -webkit-transition: all 0ms ease;
  -moz-transition: all 0ms ease;
  -ms-transition: all 0ms ease;
  -o-transition: all 0ms ease;
  transition: all 0ms ease;
}

/* style its checked state..with a ticked icon */
[type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  top: 0px;
  left: 25%;
}


/* FORM - NUMBER */
input[type=number] {
  width: 70px;
  float: right;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;;
}

.next-button {
  cursor: pointer!important;
  float: right;
  padding: 10px;
  margin: 30px 0;
  min-width: 70px;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background: transparent;
  font-family: 'Cabin', sans-serif;
  color: black;
  text-align: center;
  text-decoration: none!important;
}

.next-button:hover { 
  border-color: white;
  color: white;
  text-decoration: none!important;
}


#loading {
    content: url(/static/loading.gif);
    width: 30%;
    max-width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}

.hidden {
    display: none;
}

/* Tooltips, stolen from w3school */

.tooltipp {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltipp .tooltipptext {
    visibility: hidden;
    width: 320px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltipp:hover .tooltipptext {
    visibility: visible;
}
